<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chatApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>13</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>460239EC8B518BC49AE2C322ECD15FAB86EDF188</string>
				<key>dateExpires</key>
				<string>2/18/26</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>460239EC8B518BC49AE2C322ECD15FAB86EDF188</string>
						<key>dateExpires</key>
						<string>2/18/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V5983MN6T4</string>
						<key>name</key>
						<string>jong-yeoul lee</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>V5983MN6T4.com.deephigh.chatApp2</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>V5983MN6T4</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>chatApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>a54587bd-2403-420c-a0d2-30703862ffad</string>
				<key>dateExpires</key>
				<string>2/18/26</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.deephigh.chatApp2</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>V5983MN6T4</string>
				<key>name</key>
				<string>jong-yeoul lee</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
